  <%= search_form_for(@q, url: backoffice_customers_path , method: :get,
    html: {class: "row justify-content-center h-100"}) do |f| %>

    <div class="col-6 my-auto">
      <%= f.search_field :name_or_email_cont, class: "form-control" %>
    </div>

    <div class="col-auto my-auto">
      <%= f.submit t('btn.search') %>
    </div>

  <% end %>