<h1> <%= Product.model_name.human %> </h1>

<section class="col-sm-6 offset-1">
  <%= link_to t('btn.back'), backoffice_products_path, class: "btn btn-secondary" %>
  <hr>

  <% if @categories.present? %>
    <%= render partial: 'form',
      locals: { product: @product, categories: @categories, statuses: @statuses} %>
  <% else %>
    <%= link_to t('messages.category_necessary'), new_backoffice_category_path,
      class: "btn btn-secondary" %>
  <% end %>
</section>